{% extends "base.html" %}

{% block content %}
    <h1>Login</h1>
    <form id="login_form">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required/>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" minlength="8" autocomplete="current-password" required/>
        </div>
        <button type="submit">login</button>
    </form>

    <script src="/static/js/login.js"></script>
{% endblock %}
