{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form id="register_form">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required/>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required/>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" minlength="8" autocomplete="current-password" required/>
        </div>

        <button type="submit">register</button>
    </form>


    <script src="/static/js/register.js"></script>
{% endblock %}
